<?xml version="1.0"?>
<launch>
    <arg name="task_name" default="taskB.yaml"/>

    <!-- set up task assignment and evaluation -->
    <node name="" pkg="RGMC_In-Hand_Manipulation_2024" type="task_eval.py" output="screen">
        <param name="task" value="2"/>
        <param name="tag" value=""/>
        <param name="task_file" value="$(find RGMC_In-Hand_Manipulation_2024)/task/$(arg task_name)"/>
        <param name="cube_file" value="$(find RGMC_In-Hand_Manipulation_2024)/config/tags_cube.yaml"/>
    </node>

</launch>